<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Playground</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <style type="text/css">
    .box {
      background-color: {{ color }};
    }
  </style>
</head>
<body>
  <div class="header"><h1>Welcome!</h1></div>
  <div class="container">
    {% if times %}
    {% for i in range(0, times): %}
      <div class="box"></div>
    {% endfor %}
    {% endif %}
  </div>
</body>
</html>